.BMapLib_Drawing_panel {
    height: 39px;
    border-radius: 0 3px 3px 0;
    overflow: hidden;
    float: left;
}
.BMapLib_Drawing {
    position: static!important;
    height: 39px;
    opacity: 1;
    float: left;
}
.BMapLib_Drawing .BMapLib_box {
    background: blue;
    float: left;
    height: 39px;
    width: 35px;
    cursor: pointer
}

.BMapLib_Drawing .BMapLib_last {
    border-right: 0
}

.BMapLib_Drawing .BMapLib_hander {
    /*background-position: -194px 0*/
    background: url("../images/hander.svg") no-repeat center center;
}

.BMapLib_Drawing .BMapLib_hander_hover {
    /*background-position: 0 -52px*/
    background: #ddd url("../images/hander.svg") no-repeat center center;
}

.BMapLib_Drawing .BMapLib_circle {
    /*background-position: -130px 0*/
    background: url("../images/circle.svg") no-repeat center center;
}

.BMapLib_Drawing .BMapLib_circle_hover {
    /*background-position: -130px -52px*/
    background: #ddd url("../images/circle.svg") no-repeat center center;
}

.BMapLib_Drawing .BMapLib_polygon {
    /*background-position: -260px 0*/
    background: url("../images/polygon.svg") no-repeat center center;
}

.BMapLib_Drawing .BMapLib_polygon_hover {
    /*background-position: -260px -52px*/
    background: #ddd url("../images/polygon.svg") no-repeat center center;
}