html{height:100%}
body{height:100%;margin:0px;padding:0px; position: relative;}
.pdr20{
    padding-right: 20px;
}
#showOrHide {
    position: relative;
}
.mainSearchResult::-webkit-scrollbar {
    width:10px;
    height:10px;
}
.mainSearchResult::-webkit-scrollbar-button    {
    background-color: rgba(233, 233, 233, 0.08);
}
.mainSearchResult::-webkit-scrollbar-track     {
    background: rgba(195, 84, 155, 0.15);
}
.mainSearchResult::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    -border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.mainSearchInput {
    display:none;
    padding-left: 12px;
}
.s_btn_h {
    opacity: 0.8;
}
.s_btn_bg {
    background-color: #666;
    opacity: 0.5;
}
.city {
    z-index: 1;
    background: #fff;
    top: 41px;
    display: none;
}
.city .cityUl li:first-child {
    border-top:1px solid #ccc ;
}
.city .cityUl li{
    padding: 12px 0 12px 10px;
    padding-right: 18px;
    text-align: left;
}
.city .cityUl li:hover {
    background: #eee;
}

.dialog{
    position: absolute;
    z-index: 2000;
    background-color: hsla(0,0%,100%,.9);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
}

.dialog .circular {
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -21px;
    margin-left:-21px;
    height: 42px;
    width: 42px;
    animation: loading-rotate 1.5s linear infinite;
}
.dialog .path {
    animation: loading-dash 1s ease-in-out infinite;
    stroke-dasharray: 90,150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #409eff;
    stroke-linecap: round;
}
.dialog .word {
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: 40px;
    margin-left: -25px;
    height: 22px;
    width: 50px;
    font-size: 12px;
    color: #409eff;
}
@keyframes  loading-rotate{
    100% {
        transform: rotate(1turn);
    }
}
@keyframes loading-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -40px;
    }
    100% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -120px;
    }
}
/*#container{width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}*/

.dataChart {
    position: absolute;
    width: 430px;
    background: #fff;
    top: 40px;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.hideEchart{
    z-index: 0;
    top: 84px;
    right: -430px;
}
.dataChart .chart-container li{
    margin-bottom: 20px;
}
.dataChart .chart-container p{
    height: 30px;
    line-height: 30px;
}
.dataChart .different-bedroom{
    height: 220px;
}
.dataChart .different-area{
    height: 220px;
}
.dataChart .different-amount{
    height: 220px;
}
.dataChart .different-filter{
    height: 300px;
}
.iconTitle {
    display: none;
    position: absolute;
    background: #333;
    padding: 4px;
    left: -76%;
    top:26px;
    width: 200%;
    text-align: center;
    border-radius: 4px;
    opacity: .8;
    color: #fff;
    z-index: 1000;
}
.iconTitle::before{
    position: absolute;
    top: -8px;
    left: 36px;
    content:'';
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #333;
}