a:hover, a:visited, a:link, a:active {
	color: #67649f;
}
a,button,input{
	outline:none;
}

i, span {
	display: inline-block;
}
img {
	vertical-align: top;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
.cursor {
	cursor: pointer;
}
.textLeft {
	text-align: left;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
}
.header .head-left {
	width: 240px;
	height: 100%;
}
.header .head-right {
	width: auto;
	height: 100%;
	margin-right: 20px;
}
.header .logo {
	margin-top: 13px;
	margin-left: 20px;
	display: block;
	float: left;
}

.header .head-right div {
	width: auto;
	margin: 0 20px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}
.header .head-right .info-box label {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	border-radius: 14px;
	background: red;
	top: 3px;
	right: -12px;
	color: #fff;
	font-size: 12px;
}
.header .head-right img {
	margin-top: 12px;
	margin-right: 8px;
}
.header .head-right .name-box ul {
	margin-top: 5px;
}
.header .head-right .name-box .li-one {
	font-weight: 700;
}
.header .head-right .name-box li {
	height: 15px;
	line-height: 15px;
	overflow: hidden;
}
.header .head-right .exit {
	margin-left: 5px;
	cursor: pointer;
}
.header .head-right .exit span {
	margin-top: 10px;
	height: 20px;
	line-height: 20px;
	padding-left: 25px;
	border-left: 2px solid #ccc;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.top{
	margin-bottom: 2px;
}
.clearfix:after{
	content:"";
	height:0;
	line-height:0;
	display:block;
	visibility:hidden;
	clear:both;
}
.clearfix{
	zoom:1;
}

html,body, #pc {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	/*font-family: PingFangSC-Medium;*/
	font-family: PingFangSC-Medium, "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, 宋体b8b体, SimSun, sans-serif;
	font-size: 14px;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}
.wrapper {
	width: 100%;
	height: 100%
}
#container {
	height: 100%;
	/*padding-top: 60px;*/
	overflow: hidden;
}

#wrapper {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	background: #fff;
	color: #67649f;
	z-index: 1;
}

#main {
	height: 100%;
	/*float: left;*/

}


#maing,
#sidebar{
	/*min-height: 800px;*/
	height: 100%;
}



.container>.wrapper>.sidebar>.sidebarItems {
	/*margin-top: 40px;*/
}
.container>.wrapper>.sidebar>.sidebarItems>.sidebarItem {
	height: 60px;
	line-height: 60px;
	padding: 0 40px;
	text-align: left;
	cursor: pointer;
}
.active {
	background: #F9F9F9;
}
.stretch {
	position: absolute;
	top: 40%;
	right: -20px;
	height: 60px;
	width: 20px;
	background: #000;
	opacity: 0.8;
	/*z-index: 2;*/
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	padding: 22px 5px;
}
#stretch1.stretch1 {
	position: absolute;
	top: 40%;
	left: -20px;
	height: 60px;
	width: 20px;
	background: #000;
	opacity: 0.8;
	 /*z-index: 2; */
	border-radius: 5px 0 0 5px;
	cursor: pointer;
	padding: 22px 5px;
}
#sidebar.left-200 {
}

/*二*/
#main .mainMenu {
	position: absolute;
	top: 10px;
	left: 30px;
	/*margin-left: 14%;*/
	height: 47px;
	z-index: 1;
}
#main .mainMenu>div {
	float: left;
}
#main .mainMenu .addItem span, #main .mainMenu .addItem button{
	/*padding: 12px 10px;*/
	padding: 8px 6px;
	float: left;
}
#main .mainMenu .addItem button {
	background-color: #67649f;
	color: #fff;
	border-radius: 3px;
}

#main .mainMenu>div {
	margin-left: 10px;
	text-align: center;
	margin-right: 20px;
	background: #fff;
	border-radius: 3px;
	/*padding: 12px 0;*/
}
#main .mainMenu div.mainDetail {
	padding:  0;
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);*/
	/*border-right: 1px solid #ccc;*/
}
.mainDetail ul {
	/*padding: 12px 0;*/
}

.mainDetail>ul>li {
	float: left;
	/*padding: 12px 0;*/
	padding: 8px 0;

	position: relative;
}
.mainDetail>ul>li>span {
	padding: 0 10px;
	border-right: 1px solid #ccc;
}
.mainDetail ul li:last-child>span {
	border-right: none;
}

.mainDetail .rentMethod {
	top: 37.5px;
	left: 0;
	background: #fff;
	width: 100%;
	display: none;
	/*border-top: 1px solid #ccc;*/
}
.mainDetail .mainDetailItems {
	height: 38px;
}
/*新增*/
.mainDetailItems li i {
	width: 66px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.mainDetail .width150 {
	width: 130%;
}
.mainDetail .rentMethod {
	border-top: 1px solid #ccc;
}
.mainDetail .rentMethod .area {
	margin: 0 10px;
	padding-bottom: 10px;
	/*border-bottom: 1px solid #ccc;*/
}
.mainDetail .rentMethod .area>li{
	position: relative;
	padding-left: 25px;
	text-align: left;
}
.mainDetail .rentMethod .area>li img{
	width: 20px;
	position: absolute;
	top: 8px;
	left: 0;
}
.mainDetail .rentMethod li {
	padding: 6px 0;
}
.txt-box,.txt{
	display: inline-block;
	width: 48px;
	text-align: center;
}
#main .mainMenu div.mainDetail .del {
	padding: 8px;
	height: 38px;
	border-left: 1px solid #ccc;
	border-radius: 3px;
}
#main .mainMenu div.mainbg, #main div.mainbg {
	background-color: #67649f;
	color: #fff;
	float: right;
}
.myConditionResult {
	position: absolute;
	top: 11px;
	right: 30px;
	z-index: 2;
	border-radius: 3px;
}
.myConditionResult>span {
	padding: 9px 12px;
}

/*三*/
.mainMenuRight {
	width: 435px;
	background: #fff;
	height: auto;
	top: 70px;
	bottom: 60px;
	right: -430px;
	z-index: 1;
	/*height: 100%;*/
	/*margin-top: 100px;*/
	/*padding: 10px 0 10px 10px;*/
}
.mainMenuRight>div {
	padding: 10px;
}
.mainMenuRight .mainMenuRightItems {

	position: absolute;
	width: 100%;
	top: 83px;
	bottom: 52px;
	left: 0;
	right: 0;
	z-index: 970;
	overflow: auto;
	padding: 0;
	background: #FFFFFF;
	overflow-x: hidden;
}
.mainMenuRightItems>div {

}
.mainMenuRight .mainMenuRightItems>ul {
	/*overflow: scroll;*/
	background: #FFFFFF;
}
.mainMenuRight .mainMenuRightItems>ul li {
	/*width: 100%;*/
	margin-left: 10px;
	padding: 12px 0;
	box-sizing: content-box;
	border-bottom: 1px solid #ddd;
	color: #666;
	background: #FFFFFF;
}
.mainMenuRight .mainMenuRightItems>ul li span, .mainMenuRight>div.liOne>span {
	width: 14.5%;
	text-align: center;
	float: left;


}
.mainMenuRight>div.liOne>span{
	position: relative;
}
.mainMenuRight>div.liOne>span div{
	position: absolute;
	right: 5px;
	top: 32%;
}
.mainMenuRight>div.liOne>span div img{
	width: 7px;
}

.mainMenuRight>div.liOne>span div:nth-child(2){
	top: 61%;
}
.mainMenuRight .mainMenuRightItems>ul li span.spanOne , .mainMenuRight>div.liOne>span.spanOne{
	width: 26%;
	text-align: left;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color: #444;
}
#main .mainMenu #mainSearch .searchImg {
	padding: 8px 12px;
}
#main .mainMenu #mainSearch .searchWord {
	top:0;right: -52px;background: #65649f;color: #fff;padding: 11px 10px;
}
/*新增 */
.mainMenuRight .mainMenuRightItems>ul li span.spanOne {
	padding-left: 20px;
}
/*.mainMenuRight .mainMenuRightItems>ul li.liOne,*/
.mainMenuRight>div.liOne  {
	padding: 12px 0;
	margin-left: 0;
	padding-left: 10px;
	background: #f9f9f9;
	/*border-bottom: 1px solid #ddd;*/
}
/*.borderLr::before {*/
	/*content: '';*/
	/*display: inline-block;*/
	/*height: 22px;*/
	/*width: 1px;*/
	/*background: #ccc;*/
	/*position: absolute;*/
	/*top: 14px;*/
	/*left: 105px;*/
/*}*/
/*.borderLr::after {*/
	/*content: '';*/
	/*display: inline-block;*/
	/*height: 22px;*/
	/*width: 1px;*/
	/*background: #ccc;*/
	/*position: absolute;*/
	/*top: 14px;*/
	/*left: 165px;*/
/*}*/
#container-map {
	width: 100%;
	height: 100%;
}
.btn {
	border-top: 1px solid #ccc;
	padding: 12px 0;
	margin: 0 4px;

}
.btn .ok {
	margin: 0 auto;
	margin-top: 10px;
	padding: 5px 44px;
	background: #67649f;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.mainSearchResult {
	display: none;
	position: absolute;
	top: 41px;/*改*/
	background: #fff;
	width: 286px;
}
.mainSearchAdress {
	/*border-top: 1px solid #efefef;*/

}
.mainSearchAdress li{
	border-bottom: 1px solid #efefef;
	padding: 10px 6px 10px 40px;
	text-align: left;
	position: relative;
	/*background: url('./images/search.png') no-repeat;*/
	/*background-size: 10px 10px;*/
	/*background-position: 6px 16px;*/
}
.mainSearchAdress li span {
	position: absolute;
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	border-radius: 14px;
	background: #398DF3;
	top: 14px;
	left: 12px;
	color: #fff;
	font-size: 12px;
}
.adressTitle {
	color: #333;
}
.adressDetail {
	color: #aaa;
}
/*遮照层*/
/*.mark {*/
/*width:100%;*/
/*height:100%;*/
/*background-color:#000;*/
/*position:absolute;*/
/*top:0;*/
/*left:0;*/
/*z-index:99;*/
/*opacity:0.3;*/
/*!*兼容IE8及以下版本浏览器*!*/
/*filter: alpha(opacity=30);*/
/*display:block;*/
/*}*/
.isdele,.mark{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 99;
	display: none;
}
.mark-information{
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -230px;
	width: 420px;
	/*bottom: 100px;*/
	/* height: 500px; */
	background: #ffffff;
	min-height: 170px;
}
.myCondition-information {
	position: fixed;
	top: 80px;
	right: 16px;
	/*margin-left: -230px;*/
	width: 360px;
	/*bottom: 100px;*/
	height: 500px;
	background: #ffffff;
	min-height: 200px;
	padding: 0 10px;
}
.mark-information .mark-message{
	font-size: 16px;
	/*font-weight: bold;*/
	/*margin-top: 30px;*/
	text-align: center;
	/*height: 50px;*/
	line-height:50px;
}
.myCondition-information .mark-message {
	font-size: 14px;
	/*font-weight: bold;*/
	/*margin-top: 30px;*/
	text-align: left;
	/*height: 50px;*/
	line-height:50px;
}
.mark-information .mark-message input {
	padding: 10px 10px;
	width: 90%;
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 0 10px;
}
.myCondition-information .mark-message input{
	box-sizing: border-box;
	padding: 10px 10px 10px 30px;
	width: 100%;
	/*background: #efefef;*/
	border: none;
	border: 1px solid #ccc;
	background: #efefef url('../images/search.png') no-repeat;
	background-size: 16px;
	background-position: 10px;
}
.myCondition-information ul {
	margin: 14px 0 10px 0;
	height: 376px;
	overflow: scroll;
}
.myCondition-information ul li {
	line-height: 30px;
	cursor: pointer;
	position: relative;

}
.myCondition-information ul li span {
	width: 303px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.myCondition-information ul li img{
	width: 20px;
	position: absolute;
	top: 2px;
	right: 0;
	display: none;
}
.mark .close{
	/*position: absolute;*/
	/*bottom: 100px;*/
	/*left: 50%;*/
	/*margin-left: -60px;*/
	width: 100%;
	height: 50px;
	/*background: #67649F;*/
	line-height: 50px;
	text-align: right;
	margin-top: 8px;
	/*padding-right: 20px;*/
}
.mark .close button {
	padding: 6px 26px;
	margin-right: 20px;
	border: none;
	border-radius: 5px;
}
.mark .close button.cancel {
	background: #ccc;
	color: #fff;
}
.mark .close button.save {
	background: #67649f;
	color: #fff;
}
.colorBlue {
	color: #398DF3;
}
.X {
	position: absolute;
	top: 10px;
	right: 10px;
}
.X img {
	display: inline-block;
	width: 16px;
}

/*新增房屋方式 */
.iconJ {
	width: 16px;
	height: 16px;
	border-radius: 1px;
	background: #7197FF url(../images/ji.png) no-repeat center center;
	padding-top: 10px;
	position: absolute;
	left: 0px;
	top: 4px;
}
.iconS {
	width: 16px;
	height: 16px;
	border-radius: 1px;
	background: #E87575 url(../images/san.png) no-repeat center center;
	padding-top: 10px;
	position: absolute;
	left: 0px;
	top: 4px;
}
.iconP {
	width: 16px;
	height: 16px;
	border-radius: 1px;
	background: #60C6AD  url(../images/pu.png) no-repeat 35% center;
	padding-top: 10px;
	position: absolute;
	left: 0px;
	top: 4px;
}
/*提示*/
.toasttj2{
	z-index:1003;
	font-size: 12px;
	padding: 10px;
	position: fixed;
	top:25%;
	left: 45%;
	/*width: 100%;*/
	margin: 0 auto;
	opacity:0;
	/*height: 24px;*/
	display: none;
	transition: opacity 1s ease-out;
}
/*搜索输入内容后出现的X*/
.clearInput {
	margin-top: 10px;
	width: 20px;
	margin-right: 10px;
}
.noselect {

	-webkit-touch-callout: none; /* iOS Safari */

	-webkit-user-select: none; /* Chrome/Safari/Opera */

	-khtml-user-select: none; /* Konqueror */

	-moz-user-select: none; /* Firefox */

	-ms-user-select: none; /* Internet Explorer/Edge */

	user-select: none; /* Non-prefixed version, currently

not supported by any browser */

}
.blue {
	color:  #2783ED;
	cursor: pointer;
}

/*去除IE11浏览器input框自带的图样*/
::-ms-clear,::-ms-reveal{
	display: none;
}


/*****************王国馨begin*****************/
.cheeseBox{
	position: fixed;
	width: 300px;
	height: 150px;
	background: #ffffff;
	top: 100px;
	left: 50%;
	margin-left: -260px;
	border-radius: 4px;
	text-align: center;
}
.cheeseBox p{
	height: 100px;
	line-height: 100px;
}
.cheeseBox .controlBox{
	height: 50px;
	position: relative;
}
.cheeseBox .controlBox span{
	position: absolute;
	width: 80px;
	height: 36px;
	line-height: 36px;
	background: #ccc;
	border-radius: 4px;
	bottom: 19px;
	font-size: 14px;
	color: #67649F;
	border: 1px solid #67649F;
}
.cheeseBox #sureDelete{
	right: 65px;
	background: #67649f;
	color: #ffffff;
}
.cheeseBox #notDelete{
	left: 65px;
}
.myCondition-information ul li span i{
	display: inline;
}
/*改变下边框颜色*/
.mark-information .mark-message input.red{
	border-bottom-color: red;
}
/*改变input的placeholder颜色*/
input.red:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: red;
}

input.red::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: red;
}

input.red:-ms-input-placeholder{
	color: red;
}

input.red::-webkit-input-placeholder{
	color: red;
}
/*2018.3.5 add by wangguoxin*/
/*改变地图平移控件、图标及比例尺的位置*/
.anchorBL{
	/*bottom: 80px !important;*/
    display: none;
}
.BMap_stdMpCtrl{
	bottom: 70px !important;
	left: 17px !important;
    display: block;
}
.BMap_scaleCtrl{
	bottom: 84px !important;
    display: block;
}
.BMap_cpyCtrl{
	/*bottom: 60px !important;*/
    display: none;
}

@media screen and (max-width: 1200px) {
	#main .mainMenu{
		left: 0;
	}
	#main .mainMenu>div {
		margin-right: 0;
	}
	.mainDetail .width150 {
		width: 150%;
	}
	.mainDetail>ul>li>span {
		padding: 0;
		padding-left: 5px;
	}
}
/*2018.3.7 add by wangguoxin**********/
#main .mainMenu .addItem #mainSave{
    padding: 9px 6px;
}
/****************王国馨end******************/
.page{
	height: 40px;
	padding-top: 6px;
	border-top: 1px solid #efefef;
}
.page .pageStr {
	display: inline-block;
	width: 40px;
	height: 30px;
	line-height: 30px;
	margin: 0 4px;
	color: #67649f;
	background-color: #fff;
	padding: 0 10px;
	border: 1px solid #ddd;
	cursor: default;
	border-radius: 4px;
}
/*.page .preOrnextPage {*/
	/*color: #67649f;*/


/*}*/
.page .pageStrCur{
	color: #fff;
	background-color: #67649f;
}
/*增加阴影*/
.shadow{
	box-shadow: 1px 1px 5px #aaa;
}

/*HOUSERIGHT 右侧信息动画
* 于琛
*/
#houseItens {
	overflow-x: hidden;
	/*position: relative;*/
}
#houseItems li {
	/*float: left;*/
	opacity: 0;
	margin-left: 430px;
}
.css3Li {
	position: relative;
}
.css3Li::before {
	content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #999;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;

}
.css3Li:hover::before {
	visibility: visible;
  transform: scaleX(1);
}
.redActive {
	background: #E66C66 !important;
}
.addzindex {
	z-index: 5!important;
}
.redBorder {
	border-top-color: #E66C66 !important;;
}
.css3Li {
	position: relative;
}
.css3Li::before {
	content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #999;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;

}
.css3Li:hover::before {
	visibility: visible;
  transform: scaleX(1);
}