/* Paging */
#paging {
    overflow: hidden;
    width: 100%;
    /*margin-top: 60px;*/
    /*text-align: center;*/
    color: #67649f;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    background: #fff;
    position: fixed;
    bottom: 0;
    z-index: 11;
}
#paging .first,
#paging .last,
#paging .prev,
#paging .next,
#paging .list li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
    padding: 0 10px;
    border: 1px solid #ddd;
    cursor: default;
    border-radius: 4px;
    vertical-align: top;
}
#paging .list {
    display: inline-block;
    vertical-align: top;
}
#paging .list li {
    width: 40px;
    padding: 0;
    text-align: center;
}
#paging .list li.cur {
    color: #fff;
    background-color: #67649f;
    /*border-color: #428bca;*/
}
#paging .go {
    display: none;
    position: relative;
    max-width: 130px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    margin-top: 0.4px;
}
#paging .go input {
    float: left;
    width: 70%;
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
    font-size: 14px;
    box-sizing: border-box;
    color: #67649f;
    border-radius: 4px;
    border: none;
}
#paging .go button {
    float: left;
    width: 30%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #67649f;
    border-radius: 0 4px 4px 0;
    border: none;
}
#paging .disable {
    color: #bfbfbf;
    cursor: not-allowed;
}

#paging input::-webkit-input-placeholder { color: #bfbfbf; }
#paging input::-moz-input-placeholder { color: #bfbfbf; }
#paging input:-ms-input-placeholder { color: #bfbfbf; }


/* Paging Result */



/* Paging */
#paging-zj {
    padding-top: 10px;
    overflow: hidden;
    width: 100%;
    /*margin-top: 60px;*/
    /*text-align: center;*/
    color: #67649f;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*border-top: 1px solid #ccc;*/
}
#paging-zj .first,
#paging-zj .last,
#paging-zj .prev,
#paging-zj .next,
#paging-zj .list li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
    padding: 0 10px;
    border: 1px solid #ddd;
    cursor: default;
    border-radius: 4px;
    vertical-align: top;
}
#paging-zj .list {
    display: inline-block;
    vertical-align: top;
}
#paging-zj .list li {
    width: 40px;
    padding: 0;
    text-align: center;
}
#paging-zj .list li.cur {
    color: #fff;
    background-color: #67649f;
    /*border-color: #428bca;*/
}
#paging-zj .go {
    display: none;
    position: relative;
    max-width: 140px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
}
#paging-zj .go input {
    float: left;
    width: 70%;
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
    font-size: 14px;
    box-sizing: border-box;
    color: #67649f;
    border-radius: 4px;
    border: none;
    margin-top: 0.4px;
}
#paging-zj .go button {
    float: left;
    width: 30%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #67649f;
    border-radius: 0 4px 4px 0;
    border: none;
}
#paging-zj .disable {
    color: #bfbfbf;
    cursor: not-allowed;
}

#paging-zj input::-webkit-input-placeholder { color: #bfbfbf; }
#paging-zj input::-moz-input-placeholder { color: #bfbfbf; }
#paging-zj input:-ms-input-placeholder { color: #bfbfbf; }


/* Paging Result */